<script setup lang="ts">
import { useBattery as myUseBattery } from "@/composables/useBattery";
import { useBattery } from "@vueuse/core"

const battery = myUseBattery();
// const batteryVue = useBattery();
</script>

<template>
	<section>
		<h1>Battery</h1>
		<blockquote>
			The Battery Status API, more often referred to as the Battery API,
			provides information about the system's battery charge level and lets you
			be notified by events that are sent when the battery level or charging
			status change. This can be used to adjust your app's resource usage to
			reduce battery drain when the battery is low, or to save changes before
			the battery runs out in order to prevent data loss.

			<br />
			<a
				href="https://developer.mozilla.org/en-US/docs/Web/API/Battery_Status_API"
				>(Source MDN documentation)</a
			>
		</blockquote>

		<div class="field">
			<div>
				<strong>Charging: </strong>
				<span>
					{{ battery.charging }}
				</span>
			</div>
		</div>
	</section>
</template>

<style scoped>
.field {
	margin-top: 1rem;
}
</style>
