<script setup lang="ts">
import { routes } from "@/router";
</script>

<template>
	<section>
		<h1>Testing Web APIs</h1>

		<article>
			<h4>
				<router-link :to="{ name: 'battery' }">Battery</router-link>
			</h4>
			<p>Provides information about the system's battery charge level.</p>
		</article>
	</section>
</template>
