<script setup lang="ts">
import { routes } from "@/router";
</script>

<template>
	<aside>
		<menu>
			<ul>
				<li v-for="route in routes" :key="route.path">
					<router-link :to="{ name: route.name }">{{ route.text }}</router-link>
				</li>
			</ul>
		</menu>
	</aside>
	<main>
		<router-view></router-view>
	</main>
</template>

<style>
@import "https://unpkg.com/halivert.css";
</style>
